body{
    margin:auto;
    max-width: 1200px;
    background-color:whitesmoke;
}
.title{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    letter-spacing: 7px;
    color: black;
}
.pro-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}
h4{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 7px;
}
.contact-details{
    list-style-type:none;
    padding-left:9px;
}
.side{
    margin-top: 50px;
    margin-left: 50px;
    
}
.left{
    background-color: #545454;
}
hr{
    border: 2px solid black;
    width: 30%;
    margin: auto;
    margin-right:500px;
}
.main{
    margin-top:95px;
    
}
.main-content{
    background-color:#ff914d;
}
img{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-left:90px;
    margin-top: 80px;
    }